@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

:root {
  --blue: hsl(223, 87%, 63%);
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
}

h1 {
  font-size: 3.2rem;
  text-transform: uppercase;
  font-weight: 700;
}

h1::after {
  content: ".";
  color: var(--blue);
}

h2 {
  font-size: 4.8rem;
  font-weight: 300;
  padding-top: 2rem;
}

.span1 {
  color: var(--gray);
}

h3 {
  font-size: 2rem;
  font-weight: 300;
  color: var(--gray);
  padding-top: 1rem;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  position: relative;
}

input {
  width: 42rem;
  height: 5.6rem;
  border-radius: 3rem;
  border: 1px solid var(--pale-blue);
  caret-color: var(--pale-blue);
  font-size: 1.6rem;
  padding-left: 1rem;
}

input:focus {
  outline: none;
}

input::placeholder {
  font-size: 1.6rem;
  color: var(--pale-blue);
  padding-left: 1rem;
}

.error-msg {
  color: var(--light-red);
  position: absolute;
  top: 90%;
  left: 30%;
}

label {
  position: absolute;
  left: -999999px;
}

button {
  width: 20rem;
  height: 5.6rem;
  background-color: var(--blue);
  border: none;
  border-radius: 3rem;
  color: #fff;
  font-size: 1.6rem;
  margin-left: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: var(--very-dark-blue);
}

.image {
  width: 50%;
  display: flex;
  margin: 8rem auto;
}

.image img {
  max-width: 100%;
  height: auto;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.icon-container {
  width: 20rem;
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 3.2rem;
  height: 3.2rem;
  color: var(--blue);
  background-color: #fff;
  border: 1px solid var(--pale-blue);
  border-radius: 50%;
  padding: 0.7rem;
  cursor: pointer;
}

.icon:hover {
  background-color: var(--blue);
  color: #fff;
}

p {
  padding-top: 1rem;
  font-size: 1.2rem;
  color: var(--gray);
  padding-bottom: 5rem;
}

@media screen and (max-width: 652px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 2.2rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
  }

  input {
    width: 70%;
    height: 4rem;
    font-size: 1.2rem;
    padding-left: 1rem;
  }

  input::placeholder {
    font-size: 1.2rem;
  }

  button {
    width: 70%;
    height: 4rem;
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  .image {
    width: 70%;
    display: flex;
    margin: 2rem auto;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
  }

  .icon {
    width: 3.2rem;
    height: 3.2rem;
    color: var(--blue);
    background-color: #fff;
    border: 1px solid var(--pale-blue);
    border-radius: 50%;
    padding: 0.7rem;
    cursor: pointer;
  }
}
